:root {
  margin: 0;
  padding: 0;
}

/* color */
:root {
  --color-default: #44749d;
  --color-primary: #c6d4e1;
  --color-secondary: #ffffff;
}
/* end color */

/* font */
@import url("https://fonts.googleapis.com/css2?family=DynaPuff&family=Quicksand:wght@300&display=swap");
/* end font */

body {
  font-family: QuickSand, Geneva, Verdana, sans-serif;
  background-color: var(--color-primary);
}

/* start navbar */

nav {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px 0 50px;
  border-bottom: dashed var(--color-secondary);
  border-radius: 0 0 10px 10px;
  background-color: var(--color-default);
  height: 60px;
}

#navbar-img {
  height: 60px;
  width: 60px;
  border-radius: 100%;
  border: solid 3px var(--color-secondary);
  margin-bottom: 5px;
}

#navbar-img :hover {
  color: var(--color-secondary);
}

ul {
  display: flex;
  align-items: baseline;
  margin-top: 10px;
}

li {
  padding: 15px;
  text-decoration: none;
  list-style: none;
}

li:hover {
  color: var(--color-secondary);
}
/* End Navbar */

/* Start Header */

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.description {
  width: 300px;
  margin-right: 140px;
}
.description h2,
h3 {
  font-family: DynaPuff;
}

.gambar-hero {
  margin-left: 140px;
  height: 300px;
  width: 300px;
}

.gambar-hero:hover {
}

/* End Hero */

/* start about */

.about {
  padding: 50px;
  display: flex;
  justify-content: space-around;
  border-top: dashed var(--color-default);
  background-color: var(--color-secondary);
}

.about h1 {
  position: absolute;
  margin-bottom: 2px;
  text-decoration: underline var(--color-default);
}

.about div {
  padding: 20px;
  width: 350px;
  margin-top: 90px;
}

/* Responsive */

@media (max-width: 768px) {
  .container {
  }

  .gambar-hero {
    height: 300px;
    width: 300px;
  }
}
@media (max-width: 576px) {
  .container {
    flex-direction: column-reverse;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .gambar-hero {
    height: 250px;
    width: 250px;
    margin-right: 10vh;
  }

  .description {
    height: 250px;
    width: 250px;
    margin-top: 55px;
    margin-left: 40%;

    text-align: center;
  }
  .description h2,
  h3 {
    font-family: DynaPuff;
  }
  /* navbar */

  nav {
    padding: 0 25px 0 25px;
  }

  ul {
    display: none;
  }

  #navbar-img {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    border: solid 3px var(--color-secondary);
    margin-right: 10px;
  }
  /* about */

  .about {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: dashed var(--color-default);
    background-color: var(--color-secondary);
    flex-direction: column;
  }

  .about h1 {
    position: relative;
  }
  .about .desc {
    height: fit-content;
  }

  .about .desc h3 {
    text-align: center;
  }

  .about .desc p {
    text-align: center;
  }
}
